/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Integrating tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Apply Roboto font to all elements */
html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

button {
  user-select: none;
}